@page
@model FridayNight.Pages.Places.IndexModel
@{
}

<h1 class="text-center">Places to go</h1>

<form method="post">
    <table class="table thead-dark">
        <thread>
            <tr>
                <th>Categories</th>
                <th>Places</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        @*<a asp-page="./Index" asp-route-id="@place.Idcategory"></a>
                        <button type="submit" asp-route-id="@place.Idcategory">@place.Name</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>