@page
@model FridayNight.Pages.Places.IndexModel
@{
}

<h1 class="text-center">Places to go</h1>

<form method="post">
    <table class="table thead-dark">
        <thread>
            <tr>
                <th>Categories</th>
                <th>Places</th>
            </tr>
        </thread>
        <tbody>
            @*@foreach (var category in Model.CategoriesSelectList)
            {
                <tr>
                    <td>@category.Text</td>
                </tr>
            }*@
            <tr>
                <td>
                    <select asp-for="Category.Idcategory" class="form-control" asp-items="@Model.CategoriesSelectList">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</form>